{% extends 'home/wrapper.html' %}
{% block content %}
 <section class=" d-flex justify-content-between top-header1">

    <div class="container" style="background-color: rgba(0, 0, 0, 0.6);">
        <h1>История марки</h1>
            В 1989 году состоялась премьера новой модели фирмы Land Rover — Discovery. Она была призвана занять место между утилитарным Defender и люксовым Range Rover. Сначала был представлен вариант с трехдверным кузовом и лишь через год появился пятидверный. Надо отметить, что колесная база у обоих вариантов одинакова и составляет 2540 мм.

        Кузов закреплен на прочной практически «вечной» раме. Пружинная подвеска передних и задних колес выполнена по традиционной для внеждорожников схеме. Это неразрезные балки мостов, закрепленные на рычагах.

        На Discovery применены дисковые тормозные механизмы на всех колесах, что для внедорожников конца 80-х годов было явлением довольно редким. Эффективность тормозной системы отличная и обеспечивает AWтомобилю небольшой тормозной путь даже при буксировке тяжелого прицепа.

        Сначала Discovery комплектовался бензиновым 3,5-литровым двигателем V8. На экземплярах первого года выпуска в его системе питания применялось два карбюратора. В модификации с инжектором EFI этот 3,5-литровый агрегат предлагался до 1993 года. А еще в конце 1989-го на его базе был создан 3,9-литровый двигатель мощностью 182 л.с. Этот силовой агрегат наделяет AWтомобиль отменной для внедорожника динамикой и позволяет набирать «сотню» за 11 с. Он обладает солидным ресурсом, но при этом не лишен недостатков. Например, высокий расход топлива при активной езде в городских условиях составляет 20—25 л на 100 км.

        В гамме бензиновых двигателей был и один высокооборотный 2,0-литровый 136-сильный агрегат. Он устанавливался с 1993 года. Если на задней двери AWтомобиля имеются буковки MPI (Multi-point injection — многоточечный впрыск), значит, на ней применен этот самый двухлитровый двигатель. Также для модели предлагались турбодизели.

        В 1990-м Discovery получил 2,5-литровый двигатель мощностью 107 л.с. с турбонагнетателем и интеркулером. В целом это надежный и экономичный агрегат (при активной езде максимальный расход солярки составляет 13—14 л). Начиная с 1995 года этот силовой агрегат начал предлагаться с новой системой впрыска топлива EDC (Electronic Diesel Control), увеличившей мощность до 113 «лошадей».

        Для Discovery предлагалась AWтоматическая и механическая трансмиссия. Сначала на AWтомобиле применялась механическая КП с заводским индексом LT77. В 1994 году ее заменила новая «механика» (индекс R380), имеющая к тому же синхронизированную заднюю передачу.

        Одним из главных достоинств Discovery является постоянный полный привод (full-time 4WD). Для распределения момента по «осям» при езде в бездорожье в раздаточной коробке применен блокируемый межосевой дифференциал.

        В 1991 году была проведена небольшая модернизация, в результате которой добавились резиновые молдинги, ящик между сиденьями и крепежные сетки в багажнике. Помимо этого, стала устанавливаться новая пятиступенчатая КП.

        В 1994 году модель подвергли рестайлингу. Внешние отличия были незначительными, в интерьере же появилась новая приборная панель, а в трансмиссии — новая «механика». В этом же году начались продажи внедорожника в США.

        Discovery выпускался в нескольких комплектациях. В базовую до рестайлинга 1994 года входил электропакет (кроме трехдверных версий), а в самой дорогой был представлен практически полный список всевозможных «наворотов», достойных легковой машины высокого класса. После рестайлинга в список стандартного оборудования вошел кондиционер. Тогда же дебютировала люксовая модификация с индексом ES. В ней были кожаный салон, электроприводы кресел и люков (их могло быть два), дорогая аудиосистема с СD-проигрывателем, в общем, все, что только можно пожелать.

        В 1996-м все модификации для Северной Америки стали комплектовать 4,0 л бензиновым двигателем, ранее устанавливавшимся на Range Rover.

        Discovery завоевал большую популярность среди людей, ведущих активный образ жизни. Немалую толику в популяризацию Discovery внесли соревнования Camel Trophy, где AWтомобиль получил репутацию лучшего покорителя бездорожья.

        Для соревнований Camel Тrophy выпускалась специальная версия AWтомобиля, называвшаяся Land Rover Discovery for Camel Тrophy Special. Она отличалась, помимо ярко-желтого цвета кузова, еще и наличием специальных внедорожных устройств и аксессуаров: например, выносным воздухозаборником, мощным багажником, лебедкой, дополнительным освещением («люстра») и многим другим.

        В общем, Discovery имеет много положительных качеств. Это неплохая управляемость, эргономичность, комфорт, высокий уровень безопасности.

        В 1998 году была представлена новая модель, Discovery II. Автомобиль внешне очень похож на своего предшественника. Сохранен не просто стиль, а все наиболее характерные черты и особенности дизайна. Но при этом AWтомобиль полностью разработан заново. Отличить новичка от ветерана легче всего благодаря удлинившемуся заднему свесу, новой передней части кузова, а также по высоко расположенным задним фонарям.

        Discovery II заметно крупнее и вместительнее. Колесная база осталась прежней, но длина увеличилась на целых 18 см. Благодаря этому в салоне удалось разместить два направленных по ходу сиденья третьего ряда взамен «откидушек». Но главные отличия, конечно, в технической части.

        Основы внедорожной идеологии Discovery II остались неизменны - рамная конструкция и зависимые подвески с жесткими мостами спереди и сзади. Однако принципиально другой стала система полного привода. Как и раньше, в ней используется постоянный привод на все колеса, но теперь межосевой дифференциал стал свободным, а необходимость его блокировки заменяет электронная система контроля тягового усилия ETS, которая подтормаживает буксующие колеса.

        Стандартом для всех исполнений Discovery стали четырехканальная ABS с электронным распределением тормозных усилий и система (HDS) Hill Descent Control, ограничивающая скорость движения на крутых спусках. Две наиболее дорогие модификации Discovery II получили пневматическую заднюю подвеску, AWтоматически поддерживающую уровень кузова над дорогой независимо от степени загрузки AWтомобиля и позволяющую немного приподнимать его в сложных ситуациях на бездорожье.

        Кстати, и передний и задний мосты подвешены на двух продольных рычагах. Сзади для восприятия поперечных усилий используется механизм Уатта, тогда как спереди устанавливается более привычная тяга Панара. В комплектацию версии с пневмоподвеской входит также система (АСЕ) Active Cornering Enhancement, изменяющая жесткость стабилизаторов поперечной устойчивости. Сложная электронно-гидравлическая система призвана разрешить противоречие между необходимостью обеспечить большие хода подвески при движении по бездорожью и желанием уменьшить крены в поворотах в обычных условиях.

        Силовые агрегаты тоже претерпели изменения — бензиновый V8 был модернизирован, а вместо старых дизелей стали применять совершенно новый пятицилиндровый турбодизель объемом 2,5 литра.

        Дизайн салона ничуть не менее консервативен, чем внешность AWтомобиля. Органы управления на своих привычных местах.

        Сидящие сзади едва ли смогут пожаловаться на тесноту - и по ширине, и для ног места вполне достаточно. Запас пространства над головой и вовсе огромен, ведь крыша над задней частью салона, как, впрочем, и на Discovery первого поколения, заметно приподнята. В ее обшивке даже есть небольшие сетчатые кармашки для мелочей.

        Багажник просто огромен. К тому же в отсутствие складных сидений третьего ряда в боковинах багажного отсека находятся большие закрывающиеся ящики. Есть полочка и на двери багажника, там находится комплект инструмента.

        В 2004 году состоялась презентация третьего поколения Discovery. Причем в США модель начали продавать под новым названием LR3.

        Несмотря на несколько сотен конструктивных отличий, внешность AWтомобиля вполне узнаваема. Новый Discovery III создан на базе платформы Ranger Rover с интегрированный в силовой каркас кузова прочной рамой (технология Body-Frame), что позволило увеличить жесткость кузова на кручении и значительно улучшить параметры управляемости.

        Пневматическая независимая подвеска не только улучшила плавность хода, но и является одной из составных частей новой фирменной системы полного привода, получившей название Terrain Response. Эта электронная система оптимизирует тягово-скоростные характеристики, уровень жесткости подвески и дорожный просвет в зависимости от дорожного полотна или характеристик пересеченной местности.

        Гамма двигателей на 2005 год для Европы – бензиновый 4,4 л V8 мощностью 300 л.с. и турбодизель 2,7 л с изменяемой геометрией турбины мощностью 190 л.с. А для США и Канады предлагается двигатель 4,0 л V8 мощностью 213 л.с. от Explorer.

        Для бензиновых версий предлагается только 6-ступенчатый «AWтомат», а для турбодизеля базовой считается 6-ступенчатая «механика».

        В России предлагаются три комплектации – S, SE и HSE. В список оснащения входят ABS, система курсовой устойчивости DCS и система защиты от опрокидывания ARM, фронтальные, боковые и оконные подушки безопасности, роскошная аудиосистема. Помимо этого, AWтомобиль буквально нашпигован такими известными электронными устройствами, как ETC, EBD ну и, разумеется, HDС.
    </div>
{% endblock %}