{% extends 'home/wrapper.html' %}
{% block content %}
 <section class="d-flex justify-content-between top-header">
   <div class="container">
     <div class="row align-items-center">
       <div class="col-md-12 text-md-right">
           <h1>ВЫБЕРИТЕ МОДЕЛЬ</h1>
           <button type="button" class="btn btn-outline-success btn-lg">DISCOVERY 1</button><br>
           <button type="button" class="btn btn-outline-success btn-lg">DISCOVERY 2</button><br>
           <button type="button" class="btn btn-outline-success btn-lg">DISCOVERY 3</button><br>
           <button type="button" class="btn btn-outline-success btn-lg">DISCOVERY 4</button><br>
           <button type="button" class="btn btn-outline-success btn-lg">DISCOVERY 5</button><br>
       </div>
     </div>
   </div>
{% endblock %}