{% extends 'home/wrapper.html' %}
{% block content %}
{% load staticfiles %}

<section class="d-flex justify-content-between top-header">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="row" style="padding: 15px; display: block">
            <h1>{{ video.Video_name }}</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src={{video.Video_url}} frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <h5>{{ video.Video_o }}</h5>
            <span class="badge badge-warning">Дата добавления: {{ video.Video_data }}</span>
            <h6><a href="/Video/addlikes/{{ video.id }}"><img src="{% static 'image/like.png' %}"  width = "60px" height="60px">{{ video.Video_likes }}</a></h6>
            <p>Комментарии:</p>
            {% for com in comment %}
                <div class=" mb-2 bg-primary text-white" style="padding: 2px">{{ com }}</div>
            {% endfor %}
            {% if username %}
            <form action="/Video/video/addcomment/{{video.id}}/" method = "post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                    <p><input type="submit" class="btn btn-primary" value="Добавить коментарий"></p>
                </div>
            </form>
            {% else %}
            <span class="badge badge-danger">Комментарии могут добовлять только зарегистрированные пользователи </span>
            {% endif %}





        </div>
    </div>
{% endblock %}